body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:lightskyblue;
}

header {
    position: -webkit-sticky;
    z-index: 5;
    top: 0px;
}

.logo {
    filter: invert(100%);
}

#navbarNav {
    width: auto;
    justify-content: center;
}

.navbar-toggler {
margin-right: 20px;
}

footer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 40px 50px 30px;
    padding-bottom: 20px;
    font-weight: bold;
    align-items: flex-end;
}

.text-footer{
    margin: 0;
}

section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 1;
    margin: 20px 20px;
    overflow: scroll;
}

.button-create{
    height: 50px;
}

.sep {
    border: 2px solid black;
    width: 80%;
    margin: 10px 10%;   
}

.post-text {
    margin-left: 30px;
    width: auto;
}

.img-preview {
    display: none;
}

.img_post {
    max-height : 300px;
    max-width: 300px;
    height: auto;
    width: auto;
    margin-top: 1em;
}

.post-display {
    padding: 25px 25px 25px;
}

.rating {
    text-decoration: none;
    font-size: 1.5em;
 }

.rating-or {
    color:orange;
}

.rating-bl {
    color:black;
}

.txt-no-post {
    margin-top: 20%
}

.sub-title {
    margin-top: 30px;
}

.review-bg {
    padding-bottom: 20px;
}

.feedback {
    font-size: 0.8em;
}

.error-id {
    color: red;
}