{% extends "base.html" %}

{% block content %}
<form class="form-inline container" method="post" action="{% url 'book_review:abonnements' %}">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col text-center">
            <div class="row justify-content-center">
                <h2 class="sub-title">Suivre d'autres utilisateurs</h2>
                <div class="col-8">
                    <label for="usertofollow" class="visually-hidden">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="usertofollow" placeholder="Nom d'utilisateur" name="name">
                </div>
                <div class="col-1">
                    <button type="submit" name="sub" class="btn btn-primary mb-3">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2 class="sub-title">Abonnements</h2>
            {% for followed_user in followed_users %}
            <div class="input-group">
                <input type="text" class="form-control" value="{{followed_user.followed_user.username}}" aria-label="Nom personnage" readonly>
                <button class="btn btn-outline-secondary" value="{{followed_user.followed_user.username}}" name="unsub" type="submit">Désabonner</button>
            </div>
            {% endfor %}
            {{unsub_user}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2 class="sub-title">Abonnés</h2>
            {% for followed_by in followed_bys %}
            <input class="form-control" type="text" value="{{followed_by.user.username}}" aria-label="Nom Personnage" readonly>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
