{% extends "base.html" %}

{% block content %}
<section class="container">
    <h2 class="align-self-center">Créer un ticket</h2>
    <section class="container">
    {% if ticket %}
    <form class="form-inline" method="post" action="{% url 'book_review:crea_ticket' ticket.id %}" enctype="multipart/form-data">
    {% else %}
    <form class="form-inline" method="post" action="{% url 'book_review:crea_ticket' %}" enctype="multipart/form-data">
    {% endif %}
    {% include 'book_review/ticket.html' %}
    </form>
    </section>
</section>
{% endblock %}