<section class="container post-display">
    <div class="row justify-content-between">
        <p class="col-auto">{{ticket.user.username}} a demandé une critique</p>
        <p class="col-auto">{{ticket.time_created}}</p>
    </div>    
        <p class="post-text">Titre : {{ticket.title}}</p>
        <p class="post-text">{{ticket.description}}</p>
        {% if ticket.image %}
        <div class="row justify-content-center">
            <img src="{{ticket.image.url}}"  class="col-auto img_post"/>
        </div>
        {% endif %}
        {% if not stop_btn %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'book_review:reply_ticket' ticket.id %}" class="col-auto btn btn-primary" role="button">Créer une critique</a>
        </div>
        {% endif %}
        {% if post %}
        <form class="form-inline" method="post" action="{% url 'book_review:posts' %}">
        {% csrf_token %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'book_review:crea_ticket' ticket.id %}" class="col-auto btn btn-primary mx-3" role="button">Modifier</a>
            <button class="col-auto btn btn-primary" role="button" type="submit" name="ticket_delete" value="{{ticket.id}}">Supprimer</button>
        </div>
        </form>
        {% endif %}        
</section>