{% extends "base.html" %}
{% block content %}
<section>
<div class="container button-create">
    <div class="row justify-content-center">
        <a href="{% url 'book_review:crea_ticket' %}" class="col-auto btn btn-dark" role="button">Demander une critique</a>
        <a href="{% url 'book_review:crea_review' %}" class="col-auto offset-1 btn btn-dark" role="button">Créer une critique</a>
    </div>
</div>
{% for elemt in list_elemts %}
{% if elemt in tickets %}
    {% if elemt in tickets_stop_btn %}
    {% include 'book_review/display_ticket.html' with ticket=elemt stop_btn=1 %}
    <hr class="sep">
    {% else %}
    {% include 'book_review/display_ticket.html' with ticket=elemt %}
    <hr class="sep">
    {% endif %}
{% elif elemt in reviews %}
    {% include 'book_review/display_review.html' with review=elemt %}
    <hr class="sep">
{% endif %}
{% empty %}
<div class="container h-25">
    <div class="row justify-content-center">
        <div class="col">
            <h2>Désolé aucune donnée sur le flux !</h2>
        </div>
    </div>
</div>
</section>
{% endfor %}
{% endblock %}
