{% extends "base.html" %}

{% block content %}
{% for elemt in list_elemts %}
{% if elemt in tickets %}
    {% include 'book_review/display_ticket.html' with ticket=elemt stop_btn=1 post=1 %}
    <hr class="sep">

{% elif elemt in reviews %}
    {% if elemt.ticket %}
    {% include 'book_review/display_review.html' with review=elemt post=1 %}
    <hr class="sep">
    {% endif %}
{% endif %}
{% empty %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2 class="txt-no-post">Désolé aucune activité pour le moment !</h2>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
