{% csrf_token %}

<p>Critique</p>
<div class="row justify-content-center">
    <div class="col mt-3">
        <p>Titre</p>
        <input class="form-control" type="text" name="headline" maxlength="128" value="{{actual_review.headline}}">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col mt-3">
        <p>Note</p>
        <div class="row justify-content-center">
            <div class="col-1 form-check">
                <input class="form-check-input" type="radio" name="rating" id="rating1" value="0" {% if actual_review.rating == 0 %}checked{% endif %}>
                <label class="form-check-label" for="rating1">
                0
                </label>
            </div>
            <div class="col-1 form-check">
                <input class="form-check-input" type="radio" name="rating" id="rating2" value="1" {% if actual_review.rating == 1 %}checked{% endif %}>
                <label class="form-check-label" for="rating2">
                1
                </label>
            </div>
            <div class="col-1 form-check">
                <input class="form-check-input" type="radio" name="rating" id="rating3" value="2" {% if actual_review.rating == 2 %}checked{% endif %}>
                <label class="form-check-label" for="rating3">
                2
                </label>
            </div>
            <div class="col-1 form-check">
                <input class="form-check-input" type="radio" name="rating" id="rating4" value="3" {% if actual_review.rating == 3 %}checked{% endif %}>
                <label class="form-check-label" for="rating4">
                3
                </label>
            </div>
            <div class="col-1 form-check">
                <input class="form-check-input" type="radio" name="rating" id="rating5" value="4" {% if actual_review.rating == 4 %}checked{% endif %}>
                <label class="form-check-label" for="rating5">
                4
                </label>
            </div>
            <div class="col-1 form-check">
                <input class="form-check-input" type="radio" name="rating" id="rating6" value="5" {% if actual_review.rating == 5 %}checked{% endif %}>
                <label class="form-check-label" for="rating6">
                5
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col mt-3">
        <p>Commentaire</p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" maxlength="8192" name="body">{{actual_review.body}}</textarea>
    </div>
</div>
{% if not stop_btn %}
<div class="d-grid justify-content-end">
    <input class="btn btn-primary mt-3" type="submit" value="Envoyer">
</div>
{% endif %}

